name: ci

on:
  push:
    branches:
     - main
     - master
     - next
     - 'v*'
    paths-ignore:
      - 'docs/**'
      - '*.md'
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '*.md'

# This allows a subsequently queued workflow run to interrupt previous runs
concurrency:
  group: "${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}"
  cancel-in-progress: true

jobs:
  dependency-review:
      name: Dependency Review
      if: github.event_name == 'pull_request'
      runs-on: ubuntu-latest
      permissions:
        contents: read
      steps:
          - name: Check out repo
            uses: actions/checkout@v3
            with:
              persist-credentials: false

          - name: Dependency review
            uses: actions/dependency-review-action@v3

  variants:
      name: Read test variants
      runs-on: ubuntu-latest
      permissions:
        contents: read
      outputs:
        variants: ${{ steps.read-variants.outputs.variants }}
      steps:
        - name: Check out repo
          uses: actions/checkout@v3
          with:
            persist-credentials: false
        - name: Read variants
          id: read-variants
          run: |
            echo "variants=$(cat ./test-variants.json)" >> "$GITHUB_OUTPUT"

  test:
      needs: variants
      name: Test
      runs-on: ${{ matrix.os }}
      permissions:
        contents: read
      strategy:
        matrix:
          node-version: [14, 16, 18, 19, 20]
          peer-version: ${{ fromJSON(needs.variants.outputs.variants) }}
          os: [macos-latest, ubuntu-latest, windows-latest]
          exclude:
            - os: windows-latest
              node-version: 14
      steps:
        - name: Check out repo
          uses: actions/checkout@v3
          with:
            persist-credentials: false

        - name: Setup Node ${{ matrix.node-version }}
          uses: actions/setup-node@v3
          with:
            node-version: ${{ matrix.node-version }}

        - name: Install dependencies
          run: npm i --ignore-scripts

        - name: Install peerdeps
          run: npm i fastify @sinclair/typebox@${{ matrix.peer-version }}

        - name: Lint code
          run: npm run lint

        - name: Run tests
          run: npm test

  automerge:
    name: Automatically merge Dependabot pull requests
    if: >
        github.event_name == 'pull_request' &&
        github.event.pull_request.user.login == 'dependabot[bot]'
    needs: test
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
    steps:
      - uses: fastify/github-action-merge-dependabot@v3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
